<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pinpoint.appointment">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <service
            android:name=".service.BackgroundIntentService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false"/>
        <!-- <meta-data android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!-- android:resource="@mipmap/ic_silhoute" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="@string/google_map_api_key" /> -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e054d6c31b11eddd15b63d30cf0c8141acc4eea4" />
        -->

        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddPropertyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.ViewLeadsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.AddLeadsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.ViewLeadDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.ViewProfileActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ExtendSubscriptionActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FirebasePhoneNumAuthActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".fragment.FragmentAddAppointment"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddFriendActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CropImageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CropImageActivityLandscape"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.FriendLocationTracking"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PanicLocationTracking"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WebViewDisplayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".activities.ForgotPwdActivity" /> -->
        <activity
            android:name=".activities.LocationTracking"
            android:configChanges="orientation|screenSize|keyboardHidden" /> <!-- <activity android:name=".activities.ChangePassword"></activity> -->
        <!-- For Facebook Sharing -->
        <activity
            android:name=".activities.LogsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name="com.facebook.FacebookActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" -->
        <!-- android:label="@string/app_name" /> -->
        <!-- <provider -->
        <!-- android:name="com.facebook.FacebookContentProvider" -->
        <!-- android:authorities="com.facebook.app.FacebookContentProvider1766158913422648" -->
        <!-- android:exported="true" /> -->
        <service
            android:name=".service.ServiceNoDelay"
            android:enabled="true" /> <!-- <service -->
        <!-- android:name="com.pinpoint.appointment.location.LocationUpdateServiceBackgroundJob" -->
        <!-- android:exported="false" -->
        <!-- android:stopWithTask="false" -->
        <!-- android:permission="android.permission.BIND_JOB_SERVICE" -->
        <!-- /> -->
        <receiver
            android:name=".receivers.ServiceRestartReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="ac.in.ActivityRecognition.RestartSensor" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name=".firebase.FCMNotification">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".location.LocationUpdateServiceBackground"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":ServiceProcess"
            android:stopWithTask="false" />
        <service
            android:name=".utils.GPSTracker"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <receiver
            android:name=".PushNotificationReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.pinpoint.appointment.broadcast1" />
            </intent-filter>
        </receiver>
        <receiver android:name=".location.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver> <!-- <service -->
        <!-- android:name="com.pinpoint.appointment.location.StatusService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <!-- android:process=":ServiceProcessStatus" -->
        <!-- android:stopWithTask="false" -->
        <!-- /> -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".util.AirplaneModeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider> <!-- <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" /> -->
        <!-- <receiver -->
        <!-- android:name=".receivers.IntervalBroadcastReceiver" -->
        <!-- android:process=":remote"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.pinpoint.appointment.receivers.IntervalBroadcastReceiver" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver
            android:name=".receivers.ScheduleBroadcastReceiver"
            android:process=":remotealarm" />

        <service
            android:name=".location.LocationUpdatesService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" /> <!-- <service -->
        <!-- android:name=".service.UpdateStatusService" -->
        <!-- android:exported="false" /> -->
        <service
            android:name=".service.SensorService"
            android:exported="false" />

        <receiver android:name=".receivers.PinPointAlarmReceiver" />
    </application>

</manifest>